@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Glassmorphism Utilities if needed, though Tailwind supports backdrop-blur */

/* Autofill Override */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset !important;
    -webkit-text-fill-color: #000 !important;
    caret-color: #000;
}
